<section id="hero">
    <div class="container">
        <div class="row align-items-center">
            <h1>{{ hero_text }}</h1>
        </div>
    </div>
</section>
<section id="about-me">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-5">
                        <p>
                            {{ about_me}}
                        </p>
                    </div>
                    <div class="col-md-6 offset-md-1"><img src="{{ image }}" alt="{{ image:alt }}" class="img-fluid"></div>
                </div>
            </div>
            <div class="col-12 btn-container">
                <a href="#" class="btn">View Project</a>
                <a href="#" class="btn">Contact Me</a>
            </div>
        </div>
    </div>
</section>

<section id="my-work">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>My Work</h1>
            </div>
            <div class="col-md-12 category-list">
                <div class="col-xs-12 col-sm-6 col-md col-lg"><a data-filter="*" class="categories active-category">View All</a></div>
                <div class="col-xs-12 col-sm-6 col-md col-lg"><a data-filter=".web-design" class="categories">Web Design</a></div>
                <div class="col-xs-12 col-sm-6 col-md col-lg"><a data-filter=".web-development" class="categories">Web Development</a></div>
                <div class="col-xs-12 col-sm-6 col-md col-lg"><a data-filter=".graphic-design" class="categories">Graphic Design</a></div>
            </div>
            <div class="col-md-12 projects">
                {{ collection:projects as="projects" }}
                <div class="row">
                    {{ projects }}
                    <div class="grid-item col-md-4 {{ work_type }} {{ slug }} {{ /work_type }}">
                        <a class="project-card" href="{{ url }}">
                            <img class="img-fluid" src="{{ card_image }}" alt="{{ alt }}">
                            <h2>
                                {{ title | widont }}
                            </h2>
                            <p>
                                {{ excerpt | widont ?? content | strip_tags | safe_truncate:160:...}}
                            </p>
                        </a>
                    </div>
                    {{ /projects }}
                </div>
                {{ /collection:projects }}
            </div>
        </div>
    </div>
</section>

<!-- <div class="max-w-5xl mx-auto relative py-16 lg:pt-40 lg:pb-32">
    <article class="content">
        <h1>{{ hero_text }}</h1>
    </article>
</div>

<div class="max-w-2xl mx-auto mb-32">
    {{ collection:articles limit="5" as="articles" }}
        {{ if no_results }}
            <h2 class="text-3xl italic tracking-tight">Feel the rhythm! Feel the rhyme! Get on up, it's writing time! Cool writings!</h2>
        {{ /if }}

        {{ articles }}
            <div class="mb-16">
                <h2 class="mb-4">
                    <a href="{{ url }}" class="text-2xl hover:text-teal tracking-tight leading-tight font-bold">
                        {{ title | widont }}
                    </a>
                </h2>
                <p class="text-gray-600">
                    <span class="text-gray-800 text-sm uppercase tracking-widest font-medium">{{ date }}</span> &mdash;
                    {{ excerpt | widont ?? content | strip_tags | safe_truncate:160:...}}
                </p>
            </div>
        {{ /articles }}
    {{ /collection:articles }}
</div> -->
