<section id="project-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>{{ title }}</h1>
                <p class="work-type">{{ work_type }} {{ if last }} {{ title }} {{ else }} {{ title }} / {{ /if }} {{ /work_type }}</p>
            </div>
            <div class="col-md-6">
                <p>{{ content | widont }}</p>
                {{ if if_website }}
                    <a href="{{ website }}" target="_blank" class="btn">Visit Website</a>
                {{ /if }}
            </div>
        </div>
    </div>
</section>

<section id="project-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ project_details }}
                    {{ if type == "image" }}
                        <img src="{{ image }}" class="img-fluid" alt="{{ caption }}">
                    {{ /if }}
                {{ /project_details }}
            </div>
        </div>
    </div>
</section>

{{ secondary_slogan }}
<section id="sec-slogan" style="background-image: url('{{ sec_slogan_bg_img }} ');">
    <div class="slogan-content">
        <h1>{{ slogan_text }}</h1>
        <a href="{{ homepage }}#contact-me" class="btn sec-btn">Contact Me</a>
    </div>
</section>
{{ /secondary_slogan }}