#hero{
    padding: 200px 0px;
    .row{
        h1{ font-size: 8rem; letter-spacing: 0px;}
    }
}

#about-me{
    .btn-container a{
        margin-right: 20px;
    }
}

#my-work{
    padding: 6% 0;
    .category-list{
        margin-top: 3%;
        .categories{
            padding: 0 10px;
            a.active-category{
                background-color: $blue;
            }
        }
    }
    .projects{
        padding-top: 3%;
        .project-card{
            width: 100%;
            height: 500px;
            // padding-bottom: 6%;
            a{
                color: $white;
                display: block;
                width: 100%;
                height: 100%;
                h2{
                    padding-top: 30px;
                    padding-bottom: 10px;
                    font-family: 'Archivo', sans-serif;
                    font-weight: 700;
                    font-size: 2rem;
                }
                img { border-radius: 24px; }
            }
        }
    }
}

#slogan{
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    .slogan-content{
        padding: 20% 0;
        margin: 0 auto;
        text-align: center;
        h1{ color: $black; }
    }
}

// #contact-me{
//     padding: 6% 0;
//     .form-group{
//         padding-top: 3%;
//         input, textarea{
//             width: 100%;
//             background-color: transparent;
//             border: none;
//             border-bottom: 2px solid $white;
//             color: $white;
//             &:focus{
//                 box-shadow: none;
//                 outline: transparent;
//                 border-bottom-color: $blue;
//             }
//         }
//     }
//     button{
//         padding: 10px 25px;
//         background: $blue;
//         color: $white;
//         border: none;
//         border-radius: 4px;
//     }
// }