#hero{
    padding: 200px 0px;
    .row{
        h1{ font-size: 8rem; }
    }
}

#about-me{
    .btn-container a{
        margin-right: 20px;
    }
}

#my-work{
    padding: 6% 0;
    .projects{
        padding-top: 3%;
        .project-card{
            color: $white;
            h2{
                padding-top: 40px;
                font-family: 'Archivo Black', sans-serif;
                font-weight: bold;
                font-size: 2rem;
                letter-spacing: 1px;
            }
        }
    }
}