#hero{
    padding: 200px 0px;
    .row{
        h1{ font-size: 8rem; }
    }
}

#about-me{
    .btn-container a{
        margin-right: 20px;
    }
}

#my-work{
    padding: 6% 0;
    .projects{
        padding-top: 3%;
        .project-card{
            width: 100%;
            padding-bottom: 6%;
            a{
                color: $white;
                display: block;
                width: 100%;
                height: 100%;
                h2{
                    padding-top: 30px;
                    padding-bottom: 10px;
                    font-family: 'Archivo', sans-serif;
                    font-weight: 700;
                    font-size: 2rem;
                }
            }
        }
    }
}