#project-hero{
    padding: 6% 0;
    h1{ word-wrap: break-word;}
    p.work-type{ 
        color: $blue;
        font-weight: 100;
    }
}

#project-details{
    padding-top: 3%;
    padding-bottom: 6%;
    img{
        padding-bottom: 6%;
        border-radius: 4px;
        &:last-child{
            padding-bottom: 0px;
        }
    }
}

#sec-slogan{
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    .slogan-content{
        padding: 10% 0;
        margin: 0 auto;
        text-align: center;
        h1{ color: $white; }
    }
}