@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;

700;900&display=swap);html body {
  background-color: #000;
  color: #fff;
}

html h1 {
  font-size: 4.7rem;
  font-weight: 700;
  font-family: "Archivo Black", sans-serif;
}

p {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

div.container {
  max-width: 1440px;
  padding-right: 5.563em;
  padding-left: 5.563em;
}

a.btn {
  padding: 10px 25px;
  background: #1C1C1C;
  color: #fff;
}

a.btn:hover {
  background: #07A5D2;
  color: #fff;
}

#hero {
  padding: 200px 0px;
}

#hero .row h1 {
  font-size: 8rem;
}

#about-me .btn-container a {
  margin-right: 20px;
}

#my-work {
  padding: 6% 0;
}

#my-work .projects {
  padding-top: 3%;
}

#my-work .projects .project-card {
  color: #fff;
}

#my-work .projects .project-card h2 {
  padding-top: 40px;
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1px;
}

