@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@import "colors";
@import "mixins";
@import "media-queries";

html body{
    background-color: $black;
    color: $white;
}

html h1{
    font-size: 4.7rem;
    font-weight: 700;
    font-family: 'Archivo Black', sans-serif;
}

p{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

div.container{
    max-width: 1440px;
    padding-right: 5.563em;
    padding-left: 5.563em;
}

a.btn{
    padding: 10px 25px;
    background: $btn-gray;
    color: $white;
    &:hover{
        background: $blue;
        color: $white;
    }
}