@import "colors";
@import "mixins";
@import "media-queries";

html body{
    background-color: $black;
    color: $white;
}

nav{
    padding-top: 1%;
    .logo{
        width: 10%;
    }
    .nav-items{
        display: flex;
        width: 90%;
        justify-content: flex-end;
        li a{
            color: $white;
            &:hover{
                color: $blue;
            }
        }
    }
}

html h1{
    font-size: 4.7rem;
    font-weight: 700;
    font-family: 'Roboto1', sans-serif;
}

p{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

div.container{
    max-width: 1440px;
    padding-right: 5.563rem;
    padding-left: 5.563rem;
    margin-left: auto;
    margin-right: auto;
}

a.btn{
    padding: 10px 25px;
    background: $btn-gray;
    color: $white;
    &:hover{
        background: $blue;
        color: $white;
    }
    &.sec-btn{
        padding: 10px 25px;
        background: $white;
        color: $black;
        &:hover{
            background: $blue;
            color: $white;
        }
    }
}

.honeypot{
    display: none;
}