@import "colors";
@import "mixins";
@import "media-queries";

html body{
    background-color: $black;
    color: $white;
}

nav{
    padding-top: 1%;
    button{
        &:focus{
            border:none;
            outline: none;
        }
        div {
            width: 30px;
            height: 3px;
            background-color: $white;
            margin: 6px 0;
        }
    }
    .navbar-collapse{
        justify-content: flex-end;
        li a{
            color: $white;
            &:hover{
                color: $blue;
            }
            &.contact-me{
                color: orange;
            }
        }
    }
}

html h1{
    font-size: 4.7rem;
    font-weight: 700;
    font-family: 'Roboto1', sans-serif;
}

a { cursor: pointer; }

@media screen and (max-width: 900px) {
    html h1{ font-size: 4rem;}
}
@media screen and (max-width: 750px){
    html h1 { font-size: 2.5rem ;}
}

p{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

nav.navbar .container, div.container{
    max-width: 1440px;
    padding-right: 5.563rem;
    padding-left: 5.563rem;
    margin-left: auto;
    margin-right: auto;
}

a.btn{
    padding: 10px 25px;
    background: $btn-gray;
    color: $white;
    &:hover{
        background: $blue;
        color: $white;
    }
    &.sec-btn{
        padding: 10px 25px;
        background: $white;
        color: $black;
        &:hover{
            background: $blue;
            color: $white;
        }
    }
}

.honeypot{
    display: none;
}